@tailwind utilities;

.hero-image {
  /* The image used */
  background-image: url("../../../imgs/people.jpg");

  /* Set a specific height */
  height: auto;
  min-height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  align-items: center;
  flex-direction: column;
}

@responsive {
  .hero-title {
    @apply .text-5xl .text-white .leading-none;
  }

  .hero-text {
    @apply .text-lg .text-white .leading-tight; /* .text-orange */
  }

  @screen md {
    .hero-title {
      @apply .text-5xl;
    }
    .hero-text {
      @apply .text-2xl; /* .text-blue */
    }
  }

  @screen lg {
    .hero-text {
      @apply .text-2xl; /* .text-red */
    }
  }

  @screen xl {
    .hero-text {
      @apply .text-3xl .leading-tight; /*  .text-green */
    }
  }

  @screen xxl {
    .hero-text {
      @apply .text-4xl .leading-tight; /*  .text-orange */
    }
  }
}
