@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff?vp42w5") format("woff");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-tumblr:before {
  content: "\eab9";
}

@font-face {
  font-family: "Roboto thin";
  src: url("../fonts/Roboto_100.woff2") format("woff2"),
    url("../fonts/Roboto_100.woff") format("woff");
  font-weight: 100;
  font-style: lighter;
}

@font-face {
  font-family: "Roboto light";
  src: url("../fonts/Roboto_300.woff2") format("woff2"),
    url("../fonts/Roboto_300.woff") format("woff");
  font-weight: 100;
  font-style: light;
}

@font-face {
  font-family: "Roboto regular";
  src: url("../fonts/Roboto_400.woff2") format("woff2"),
    url("../fonts/Roboto_400.woff") format("woff");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Roboto medium";
  src: url("../fonts/Roboto_500.woff2") format("woff2"),
    url("../fonts/Roboto_500.woff") format("woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Roboto bold";
  src: url("../fonts/Roboto_700.woff2") format("woff2"),
    url("../fonts/Roboto_700.woff") format("woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Roboto black";
  src: url("../fonts/Roboto_900.woff2") format("woff2"),
    url("../fonts/Roboto_900.woff") format("woff");
  font-weight: 900;
  font-style: black;
}
