@import "./fonts.css";

@tailwind preflight;

body {
  font-family: "Roboto regular", serif;
}

/* shared utility classes */

.container {
  @apply .pl-6 .pr-6 .max-w-xl;
}

/* heading */

.heading1 {
  @apply .text-5xl .text-primary-black .font-medium;
}

.heading2 {
  @apply .text-4xl .text-primary-black .font-medium;
}

.heading3 {
  @apply .text-3xl .text-secondary-black .font-normal;
}

.heading4 {
  @apply .text-xl .text-secondary-black .font-normal;
}

/* btn */
.btn-small-red {
  @apply .bg-secondary-red .text-white .text-xs .font-bold;
}

.btn-small-red:hover {
  @apply .bg-primary-red;
}

.btn-medium-red {
  @apply .bg-secondary-red .text-white .text-base .font-bold;
}

.btn-medium-red:hover {
  @apply .bg-primary-red;
}

.btn-big-red {
  @apply .bg-secondary-red .text-white .text-lg .font-bold;
}

.btn-big-red:hover {
  @apply .bg-primary-red;
}

.btn-small-blue {
  @apply .bg-secondary-blue .text-white .text-xs .font-bold;
}

.btn-small-blue:hover {
  @apply .bg-primary-blue;
}

.btn-medium-blue {
  @apply .bg-secondary-blue .text-white .text-base .font-bold pl-8 pr-8 pt-2 pb-2;
}

.btn-medium-blue:hover {
  @apply .bg-primary-blue;
}

.btn-big-blue {
  @apply .bg-secondary-red .text-white .text-lg .font-bold;
}

/* link */

.link {
  @apply .text-14px .text-secondary-blue .font-normal;
}

.link:hover {
  @apply .underline;
}

.link-big {
  @apply .text-16px .bg-secondary-blue .font-normal;
}

.link-big:hover {
  @apply .underline;
}

.btn-big-blue:hover {
  @apply .bg-primary-blue;
}

.foo {
  border: 10px solid red;
}

/* text */

.upper-title-text {
}

.main-text {
  font-family: "Roboto thin", serif;
  @apply .text-white .leading-tight;
}

.date-text {
}

.form-text {
  font-family: "Roboto thin", serif;
  @apply .text-tertiary-blue;
}

.compressed-text {
}

@tailwind utilities;
